@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body, html{ height: 100%;
text-align: center;}
body {
	padding-top: 51px;
	color:black;
}

/*Underline when hover*/
.title {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.title:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.title:hover:after { 
  width: 100%; 
  left: 0; 
}

/*h3.title {
	color:black;
}  */    

a, a:hover {
	text-decoration: none;
	color: inherit;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#home {
	height: 100%;
	/*Horiztonally and vertically centering content"*/
    text-align: center;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*background-color: #B23B2F;	*/ 
	background-image: url(img/ocean.jpg);
	background-size: 100% 1000px;
	height: 120vh;
	padding: 40px 15px;
    text-align: center;

}

#home .jumbotron{
 /*background-color: #B23B2F;*/
   background: rgb(200, 54, 54); /* This is for ie8 and below */
   background: rgba(200, 54, 54, 0);
   /*last number is opacity */
   font-size: 80px;
   color: black;
   font-family: "Big Caslon",serif;
   font-weight: bold;
}

.active {
    background-color: white;
}

.arrow {
	position: absolute;
	opacity: .57;
}
.arrow, i {
	color: black;
}

.appImg {
	height: 280px;
	width: auto;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

#About,#Projects,#Work{
	font-family: 'Open Sans',serif;
	font-size: 20px;
	width:100%;
	padding: 40px 70px;
	text-align: center;
}

#Projects {
	background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
	color:white;
}

#Work {
  background: linear-gradient(90deg, #b9deed, #efefef);
}

/*gradient background*/
#About {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#ps{
	color:black;
}

#created,#Contact{
	text-align: center;
}


#Contact{
	background: #000000;
	padding: 100px;
	font-family:'Open Sans',serif;
	outline-color: white;
	color:white;
}

.navbar-brand, .navbar-nav, .nav{
	text-align: center;
	font-family:"Optima";
}

.lead {
	color: black;
	font-family:"Gill Sans";
}

footer,.foot,i{
	color:grey;
}

.undecorated-link{
	color:grey;
}

#created{
	font-family: 'Open Sans',serif;
	color:grey;
}

#personlink{
	color:#faebeb;
}


